@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

#layout, #header, #main, #left-sidebar, #right, #right-sidebar, #content {
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

li {
    list-style: none;
}

#layout {
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
}

#header { 
    top: 0; 
    right: 0; 
    left: 0; 
}

#inner-navbar {
    height: 100%;
}

#brand-title {
    margin-top: 20px;
}

#main {                   
    top: 100px; 
    right: 0; 
    bottom: 0; 
    left: 0; 
}

#left-sidebar  { 
    background: url("../images/bg.jpg"); 
    top: 0; 
    width: 200px; 
    bottom: 0; 
    left: 0; 
    padding-left:15px;
    padding-top: 10px;
}

#right  {                   
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 200px; 
}
#content { 
    background: #eee; 
    top: 0; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
}
#content, #right-sidebar, #left-sidebar { overflow: auto; }


.menu {
    margin: 20px;
}

.panel {
    margin-top: 100px;
}


.knob {
    margin-left: 100px;
    margin-top: 100px;
}
