@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "jquery-ui";


body {
    padding-top: 80px;
}

li {
    list-style: none;
}

.handler {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.knob {
    position: relative;
}

.dial {
    position: absolute;
}
label{
    display: inline;
}
.wave {
    width: 650px;
    background: #111;
    display: none;
}

#sin-f, #cos-f, #period {
  max-width: 30px;
}

#Y-pos {
  max-width: 40px;
}
